[submodule "addons/godot-voxelhammer"]
	path = addons/godot-voxelhammer
	url = git@github.com:TD-Dan/godot-voxelhammer.git
[submodule "addons/godot-free-look-camera"]
	path = addons/godot-free-look-camera
	url = git@github.com:TD-Dan/godot-free-look-camera.git
